# This is the InnovaSea Vemco Receiver Offload module(VRO) proglet configuration file
#
# This file is used to configure VR4UWMs (VR4 under water modems),
#
# Each line in this file represents a VR4UWM (under water modem), the proglet supports 100 modems max
# Commented lines start with '#'
#
# The proglet will attempt communication with the modem when it is within the start distance from the lat\lon position
#
# VR4UWM parameter: all parameters except password are required, if VR4 does not require a password leave the password field blank(",,")
#    station name(string 32 char max), serial number(int), modem address(int), password(string 32 char max), latitude(double), longitude(double), start distance meters(int), down baud(int), down power(int), up baud(int), up power(int)
#       valid bauds: 300, 600, 800, 1066, and 1200
#       valid power levels(db): 0, -3, -6, -9, -12, -15, -18, and -21
##################################################################################
HFX231, 250014, 14, abc123, 4138.1034, -7032.1249, 750, 300, 0, 300, 0
