# ek80.cfg
# These commands are sent to a 'ek80' sensor, unaltered, on startup.
#
# The customer should edit this file with valid sensor messages or configure
# the device externally.  This file must be present and contain at least one
# command to generate continuous pings as the final message.  Customers should 
# ensure that all messages present in this file are valid prior to glider
# deployment and any files pushed to the glider during deployment contain
# only valid messages.
# cg edit 2024-09-03

grtc

SCCLK

# query the version, optional
version

# get the battery voltage, optional
gvbatt

#Commanded to start pinging continuously, required
run ensemble 2